{
    "openapi": "3.1.0",
    "info": {
        "title": "Garage 61 API V1",
        "description": "Integration API for Garage 61",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://garage61.net/api/v1"
        }
    ],
    "paths": {
        "/car-groups": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "Available car groups.",
                "description": "Car groups to which the user has access.\n\nThis is a personalized view and depends on the enabled platforms.\n\nFor simulator platforms such as iRacing, this returns all available\ncar groupss, not just the ones that are owned by the user.\n",
                "operationId": "findCarGroups",
                "responses": {
                    "200": {
                        "description": "Car Groups",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CarGroups"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cars": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "Available cars.",
                "description": "Cars to which the user has access.\n\nThis is a personalized view and depends on the enabled platforms.\n\nFor simulator platforms such as iRacing, this returns all available\ncars, not just the ones that are owned by the user.\n",
                "operationId": "findCars",
                "responses": {
                    "200": {
                        "description": "Cars",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cars"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/laps": {
            "get": {
                "tags": [
                    "driving_data"
                ],
                "summary": "Find laps and lap records.",
                "description": "Search for laps or lap records.\n\nThis method takes a lot of parameters and allows you to find laps or\nlap records. To get a good idea at the kind of filtering you can do,\nread the [documentation on lap filtering](/docs/usage/filtering) first.\n\nYou will always need to supply at least a track, a car or a user.\n\nTo map the filtering capabilities of the app on the parameters below,\nhere's an overview on which parameters are used for each filter in the\napp:\n\n * **Group laps**: `group`\n * **Drivers / teams**: `drivers`, `teams`, `extraDrivers`\n * **Session type**: `sessionTypes`\n * **Setup**: `sessionSetupTypes`\n * **Related data**: `seeTelemetry`, `seeGhostLap`, `seeSetup`\n * **Lap type**: `lapTypes`\n * **Date driven**: `age`, `after`\n * **Lap time**: `minLapTime`, `maxLapTime`\n * **Driver Rating**: `minRating`, `maxRating`\n * **Fuel level**: `minFuel`, `maxFuel`, `minFuelUsed`, `maxFuelUsed`\n * **Track conditions**: `minConditionsTrackUsage`, `maxConditionsTrackUsage`, `minConditionsTrackWetness`, `maxConditionsTrackWetness`, `minConditionsTrackTemp`, `maxConditionsTrackTemp`, `minConditionsAirTemp`, `maxConditionsAirTemp`, `minConditionsWindVel`, `maxConditionsWindVel`, `minConditionsRelativeHumidity`, `maxConditionsRelativeHumidity`, `minConditionsFogLevel`, `maxConditionsFogLevel`, `minConditionsPrecipitation`, `maxConditionsPrecipitation`, `minConditionsCloud`, `maxConditionsCloud`, `conditionsWindDir`\n\n## Limitations\n\nThis method only returns laps driven yourself or your team mates. Use\nthe relevant parameters to choose the desired selection of laps. For\nprivacy reasons, no global lap search is available.\n\nData returned adheres to the defined privacy settings and is thus\nspecific to the user linked to the API token.\n",
                "operationId": "findLaps",
                "parameters": [
                    {
                        "name": "cars",
                        "in": "query",
                        "description": "Car IDs to search for.\n\nThis can be a combination of car and car category IDs, where the\ncar category IDs are supplied as negative number.\n\nFor instance, to search for car 3 or category 4, use `cars=3,-4`.\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "tracks",
                        "in": "query",
                        "description": "Track IDs to search for.",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "seasons",
                        "in": "query",
                        "description": "Season IDs to search for.\n\nSeasons (and their IDs) can be found in the [platforms](/developer/endpoints/v1/findPlatforms).\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "drivers",
                        "in": "query",
                        "description": "Drivers to include.\n\nAvailable values:\n\n  * `me`: Laps driven yourself\n  * `following`: Laps by drivers you're following\n\nThe drivers selected by this parameter are combined with those from\nthe `teams` and `extraDrivers` parameters. If none of these\nparameters are given, yourself and all teammates will be selected.\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "teams",
                        "in": "query",
                        "description": "Teams to include (by team slug).\n\nTeammates from the given teams will be included in the results.\n\nThe drivers selected by this parameter are combined with those from\nthe `drivers` and `extraDrivers` parameters. If none of these\nparameters are given, yourself and all teammates will be selected.\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "extraDrivers",
                        "in": "query",
                        "description": "Extra drivers to include (by user slug).\n\nThe drivers selected by this parameter are combined with those from\nthe `drivers` and `teams` parameters. If none of these\nparameters are given, yourself and all teammates will be selected.\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "age",
                        "in": "query",
                        "description": "Maximum lap age.\n\nAny positive number represents the maximum number of days\nago (e.g. `7` would restrict the search to all laps driven\nin the past week).\n\nA negative value is interpretered as follows:\n\n  * `-1`: Current season\n  * `-2`: Current and previous season\n  * `-3`: Last 3 seasons\n  * `-4`: Last 4 seasons\n",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Laps driven after given date.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sessionTypes",
                        "in": "query",
                        "description": "Filter by session type (default = all).\n\nAvailable values:\n\n  * `1`: Practice\n  * `2`: Qualifying\n  * `3`: Race\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "sessionSetupTypes",
                        "in": "query",
                        "description": "Filter by session setup type (default = all).\n\nAvailable values:\n\n  * `1`: Open setup\n  * `2`: Fixed setup\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "seeTelemetry",
                        "in": "query",
                        "description": "Require the telemetry of each lap to be visible.\n\nRequires the calling user to have a Pro plan.\n",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "seeGhostLap",
                        "in": "query",
                        "description": "Require the ghost lap of each lap to be visible.\n\nOnly selects laps that have a ghost lap available.\n\nRequires the calling user to have a Pro plan.\n",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "seeSetup",
                        "in": "query",
                        "description": "Require the setup of each lap to be visible.\n\nOnly selects laps that have a setup available.\n\nRequires the calling user to have a Pro plan.\n",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "lapTypes",
                        "in": "query",
                        "description": "Filter by lap type (default = normal laps only).\n\nAvailable values:\n\n  * `1`: Normal (full) laps\n  * `2`: Joker laps\n  * `3`: Out laps (exiting the pitlane)\n  * `4`: In laps (entering the pitlane)\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "event",
                        "in": "query",
                        "description": "Laps for given event ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "unclean",
                        "in": "query",
                        "description": "Allow returning unclean (and potentially incomplete) laps.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "minRating",
                        "in": "query",
                        "description": "Minimum driver rating (e.g. iRating for iRacing).",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "maxRating",
                        "in": "query",
                        "description": "Maximum driver rating (e.g. iRating for iRacing).",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "minFuel",
                        "in": "query",
                        "description": "Minimum fuel level.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxFuel",
                        "in": "query",
                        "description": "Maximum fuel level.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minFuelUsed",
                        "in": "query",
                        "description": "Minimum fuel used in lap.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxFuelUsed",
                        "in": "query",
                        "description": "Maximum fuel used in lap.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minLapTime",
                        "in": "query",
                        "description": "Minimum lap time.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxLapTime",
                        "in": "query",
                        "description": "Maximum lap time.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minConditionsTrackUsage",
                        "in": "query",
                        "description": "Minimum track usage, as a percentage (0 = clean track, 100 = fully rubbered in).",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "maxConditionsTrackUsage",
                        "in": "query",
                        "description": "Maximum track usage, as a percentage (0 = clean track, 100 = fully rubbered in).",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "minConditionsTrackWetness",
                        "in": "query",
                        "description": "Minimum track wetness, as a percentage (0 = dry, 100 = fully wet).",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "maxConditionsTrackWetness",
                        "in": "query",
                        "description": "Maximum track wetness, as a percentage (0 = dry, 100 = fully wet).",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "minConditionsTrackTemp",
                        "in": "query",
                        "description": "Minimum track temperature (℃).",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxConditionsTrackTemp",
                        "in": "query",
                        "description": "Maximum track temperature (℃).",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minConditionsAirTemp",
                        "in": "query",
                        "description": "Minimum air temperature (℃).",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxConditionsAirTemp",
                        "in": "query",
                        "description": "Maximum air temperature (℃).",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minConditionsWindVel",
                        "in": "query",
                        "description": "Minimum wind velocity (m/s).",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxConditionsWindVel",
                        "in": "query",
                        "description": "Maximum wind velocity (m/s).",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minConditionsRelativeHumidity",
                        "in": "query",
                        "description": "Minimum relative humidity.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxConditionsRelativeHumidity",
                        "in": "query",
                        "description": "Maximum relative humidity.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minConditionsFogLevel",
                        "in": "query",
                        "description": "Minimum fog level.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxConditionsFogLevel",
                        "in": "query",
                        "description": "Maximum fog level.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minConditionsPrecipitation",
                        "in": "query",
                        "description": "Minimum precipitation.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "maxConditionsPrecipitation",
                        "in": "query",
                        "description": "Maximum precipitation.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "minConditionsCloud",
                        "in": "query",
                        "description": "Minimum cloud cover.\n\nAvailable values:\n\n  * `1`: Clear skies\n  * `2`: Partly cloudy\n  * `3`: Mostly cloudy\n  * `4`: Overcast\n",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "maxConditionsCloud",
                        "in": "query",
                        "description": "Maximum cloud cover.\n\nAvailable values:\n\n  * `1`: Clear skies\n  * `2`: Partly cloudy\n  * `3`: Mostly cloudy\n  * `4`: Overcast\n",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "conditionsWindDir",
                        "in": "query",
                        "description": "Allowed wind directions.\n\nAvailable values:\n\n  * `1`: North\n  * `2`: East\n  * `3`: South\n  * `4`: West\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "round",
                        "in": "query",
                        "description": "Correct parameters for rounding.\n\nWhen using the web app, lap searches are adjusted slightly to\ncompensate for the fact that values are rounded for display. Supply\nthe desired display units to apply rounding correction on your lap\nsearch.\n\nAvailable values: `metric`, `englishStandard`.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "description": "Grouping of results, determines which laps will be returned (default: `driver`).\n\nAvailable values:\n\n  * `driver`: Personal best laps per driver.\n  * `driver-car`: Personal best laps per driver/car combination.\n  * `none`: Return all laps.\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit results to the given amount of laps (maximum and default is 1000).",
                        "schema": {
                            "type": "number",
                            "format": "int64",
                            "maximum": 1000,
                            "default": 1000
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Start results at given offset.",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Laps",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Laps"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "driving_data"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/laps/{id}": {
            "get": {
                "tags": [
                    "driving_data"
                ],
                "summary": "Get information about a specific lap.",
                "description": "Returns all info about a specific lap.\n\n## Limitations\n\nThis method only returns laps driven yourself or your team mates.\n\nData returned adheres to the defined privacy settings and is thus\nspecific to the user linked to the API token.\n",
                "operationId": "getLap",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Lap ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lap info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Lap"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "driving_data"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/laps/{id}/csv": {
            "get": {
                "tags": [
                    "driving_data"
                ],
                "summary": "Export the telemetry for a lap as a CSV file.",
                "description": "Returns a CSV file with the telemetry for the requested lap (if available).\n\n## Limitations\n\nThis method only returns laps driven yourself or your team mates.\n\nData returned adheres to the defined privacy settings and is thus\nspecific to the user linked to the API token.\n",
                "operationId": "getLapCSV",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Lap ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Telemetry CSV",
                        "content": {
                            "text/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "driving_data"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "general"
                ],
                "summary": "Information about the currently authenticated user.",
                "description": "Returns information about the currently authenticated user.\n",
                "operationId": "me",
                "responses": {
                    "200": {
                        "description": "User information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Me"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/me/accounts": {
            "get": {
                "tags": [
                    "general"
                ],
                "summary": "Get linked accounts for the current user.",
                "description": "Linked accounts such as the iRacing account.\n\nReturns the driver ratings for each attached account, optionally\nwith their history.\n",
                "operationId": "getAccounts",
                "parameters": [
                    {
                        "name": "ratingHistory",
                        "in": "query",
                        "description": "Include rating history?",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Linked accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserAccounts"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/me/datapackgroups": {
            "post": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Subscribe user to a data pack group.",
                "description": "Subscribes a user to the given data pack group.",
                "operationId": "createUserDataPackGroup",
                "requestBody": {
                    "description": "Data pack group to subscribe to",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateUserDataPackGroupRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "datapacks_subscriptions"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/me/datapackgroups/{id}": {
            "delete": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Unsubscribe user from a data pack group.",
                "description": "Unsubscribes a user from the given data pack group.",
                "operationId": "deleteUserDataPackGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data pack group ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "datapacks_subscriptions"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/me/datapacks": {
            "post": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Subscribe user to a data pack.",
                "description": "Subscribes a user to the given data pack.",
                "operationId": "createUserDataPack",
                "requestBody": {
                    "description": "Data pack to subscribe to",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateUserDataPackRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "datapacks_subscriptions"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/me/datapacks/{id}": {
            "delete": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Unsubscribe user from a data pack.",
                "description": "Unsubscribes a user from the given data pack.",
                "operationId": "deleteUserDataPack",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data pack ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "datapacks_subscriptions"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/me/statistics": {
            "get": {
                "tags": [
                    "general"
                ],
                "summary": "Get personal driving statistics.",
                "description": "Driving statistics for the authenticated user.\n\nEach returned record is a combination of car, track and day.\nYou'll need to sum up these rows according to the specific numbers you\nwant to calculate (e.g. per car).\n",
                "operationId": "getStatistics",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Select statistics starting at this date.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Select statistics ending at this date.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "cars",
                        "in": "query",
                        "description": "Car IDs to search for.\n\nThis can be a combination of car and car category IDs, where the\ncar category IDs are supplied as negative number.\n\nFor instance, to search for car 3 or category 4, use `cars=3,-4`.\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "tracks",
                        "in": "query",
                        "description": "Track IDs to search for.",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Driving statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserDrivingStatistics"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/platforms": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "Available platforms.",
                "description": "All data is linked to a platform, which can either be a simulator\nplatform (such as [iRacing](https://www.iracing.com/)) or the real\nworld (identified by `-`).\n\nOnly platforms to which the user has access are returned.\n",
                "operationId": "findPlatforms",
                "responses": {
                    "200": {
                        "description": "Platforms",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Platforms"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams": {
            "get": {
                "tags": [
                    "teams"
                ],
                "summary": "Joined teams.",
                "description": "Teams that the authenticated user is part of.\n",
                "operationId": "findTeams",
                "responses": {
                    "200": {
                        "description": "Teams",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Teams"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{id}": {
            "get": {
                "tags": [
                    "teams"
                ],
                "summary": "Get information about a specific team.",
                "description": "Returns information about a team.\n\n## Limitations\n\nThis method only returns information about teams that the authenticated\nuser is a member of.\n\nThe member list of a team might not be included if the authenticated\nuser is not a team owner and the team is configured to only show the\nmember list to team owners.\n",
                "operationId": "getTeam",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Team"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{team}/datapackgroups": {
            "get": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Get data pack groups for a team.",
                "description": "Gets a list of the data pack groups defined for a team.\n",
                "operationId": "getTeamDataPackGroups",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit results to the given amount of data pack groups (maximum and default is 1000).",
                        "schema": {
                            "type": "number",
                            "format": "int64",
                            "maximum": 1000,
                            "default": 1000
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Start results at given offset.",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team data pack groups",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamDataPackGroups"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapackgroups/{id}": {
            "get": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Get data pack group for a team.",
                "description": "Gets a single data pack group.\n\nDoes not include archived data packs, unless the app also has the `team_datapacks_archived_read` permission.\n",
                "operationId": "getTeamDataPackGroup",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack Group ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pack group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamDataPackGroup"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapackgroups/{id}/members": {
            "post": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Add data pack to a data pack group.",
                "description": "Adds a data pack to the given data pack group.",
                "operationId": "createDataPackGroupMember",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack Group ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Data pack to add",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDataPackGroupMemberRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_write"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapackgroups/{id}/members/{member}": {
            "delete": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Remove data pack from a data pack group.",
                "description": "Removes a data pack from the given data pack group.",
                "operationId": "deleteDataPackGroupMember",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack Group ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "member",
                        "in": "path",
                        "description": "Data Pack ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_write"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapacks": {
            "get": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Get data packs for a team.",
                "description": "Gets a list of the data packs defined for a team.\n\nDoes not include archived data packs, unless the app also has the `team_datapacks_archived_read` permission.\n",
                "operationId": "getTeamDataPacks",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit results to the given amount of data packs (maximum and default is 1000).",
                        "schema": {
                            "type": "number",
                            "format": "int64",
                            "maximum": 1000,
                            "default": 1000
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Start results at given offset.",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team data packs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamDataPacks"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapacks/{id}": {
            "get": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Get data pack for a team.",
                "description": "Gets a single data pack.",
                "operationId": "getTeamDataPack",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pack",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamDataPack"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Update data pack for a team.",
                "description": "Update a data packs.\n",
                "operationId": "updateTeamDataPack",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Fields to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTeamDataPackRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Data pack",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamDataPack"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read",
                            "team_datapacks_write"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapacks/{id}/content/{item}/ghost.bin": {
            "get": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Download ghost lap file for a content item.",
                "description": "Downloads the ghost file (if available).\n\nOnly applicable to content items with `type == \"ghost_lap\"` or `type == \"lap\"`.\n\nFor content items with `type == \"lap\"`, you'll need to have telemetry\nviewing permissions to be able to load the ghost lap. See the\n`canViewTelemetry` field on `Lap`. Also pay attention to the\n`ghostAvailable` field: not every lap has a ghost file available for\ndownload.\n",
                "operationId": "getTeamDataPackContentGhostLapBin",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "item",
                        "in": "path",
                        "description": "Data Pack content item ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ghost lap file",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapacks/{id}/content/{item}/lap.csv": {
            "get": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Export telemetry for a lap content item.",
                "description": "Returns a CSV file with the telemetry for the requested lap (if available).\n\nOnly applicable to content items with `type == \"lap\"`.\n",
                "operationId": "getTeamDataPackContentLapCsv",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "item",
                        "in": "path",
                        "description": "Data Pack content item ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Telemetry CSV",
                        "content": {
                            "text/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapacks/{id}/content/{item}/replay.bin": {
            "get": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Download file for a replay content item.",
                "description": "Downloads the replay file (if available).\n\nOnly applicable to content items with `type == \"replay\"`.\n",
                "operationId": "getTeamDataPackContentReplayBin",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "item",
                        "in": "path",
                        "description": "Data Pack content item ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Replay file",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/datapacks/{id}/content/{item}/setup.sto": {
            "get": {
                "tags": [
                    "data_packs"
                ],
                "summary": "Download iRacing setup for a setup content item.",
                "description": "Downloads the iRacing setup file (if available).\n\nOnly applicable to content items with `type == \"setup\"`.\n",
                "operationId": "getTeamDataPackContentSetupSto",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Data Pack ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "item",
                        "in": "path",
                        "description": "Data Pack content item ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Setup file",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_datapacks_read"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/invites": {
            "post": {
                "tags": [
                    "teams"
                ],
                "summary": "Create team invite",
                "description": "Create an invite to join a team.",
                "operationId": "createTeamInvite",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Team invite parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTeamInviteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Team invite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamInvite"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_members"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/members/{id}": {
            "delete": {
                "tags": [
                    "teams"
                ],
                "summary": "Remove member from team",
                "description": "Removes a member from the team\n",
                "operationId": "deleteTeamMember",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "team_members"
                        ]
                    },
                    {
                        "personalAccessToken": []
                    }
                ]
            }
        },
        "/teams/{team}/statistics": {
            "get": {
                "tags": [
                    "teams"
                ],
                "summary": "Get team driving statistics.",
                "description": "Driving statistics for the members of the team.\n\nEach returned record is a combination of car, track, day and driver.\nYou'll need to sum up these rows according to the specific numbers you\nwant to calculate (e.g. per car).\n\n## Limitations\n\nThis method only returns information about teams that the authenticated\nuser is a member of.\n\nThe authenticated user will need to be a team owner if the team is\nconfigured to only show statistics to team owners.\n",
                "operationId": "getTeamStatistics",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "description": "Team ID or slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Select statistics starting at this date.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Select statistics ending at this date.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "cars",
                        "in": "query",
                        "description": "Car IDs to search for.\n\nThis can be a combination of car and car category IDs, where the\ncar category IDs are supplied as negative number.\n\nFor instance, to search for car 3 or category 4, use `cars=3,-4`.\n",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    },
                    {
                        "name": "tracks",
                        "in": "query",
                        "description": "Track IDs to search for.",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number",
                                "format": "int64"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Driving statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TeamDrivingStatistics"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tracks": {
            "get": {
                "tags": [
                    "content"
                ],
                "summary": "Available tracks.",
                "description": "Tracks to which the user has access.\n\nThis is a personalized view and depends on the enabled platforms.\n\nFor simulator platforms such as iRacing, this returns all available\ntracks, not just the ones that are owned by the user.\n",
                "operationId": "findTracks",
                "responses": {
                    "200": {
                        "description": "Tracks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tracks"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CarGroupInfo": {
                "description": "Car group information",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Car Group ID",
                        "type": "number",
                        "format": "int64"
                    },
                    "name": {
                        "description": "Name",
                        "type": "string"
                    },
                    "platform": {
                        "description": "Platform (e.g. `iracing`)",
                        "type": "string"
                    },
                    "cars": {
                        "description": "IDs of the cars that are part of this group.",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "required": [
                    "id",
                    "name",
                    "platform",
                    "cars"
                ]
            },
            "CarGroups": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CarGroupInfo"
                        }
                    },
                    "total": {
                        "description": "Total number of available car groups, across all pages.",
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "required": [
                    "items",
                    "total"
                ]
            },
            "CarInfo": {
                "description": "Car information",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Car ID",
                        "type": "number",
                        "format": "int64"
                    },
                    "name": {
                        "description": "Name",
                        "type": "string"
                    },
                    "platform": {
                        "description": "Platform (e.g. `iracing`)",
                        "type": "string"
                    },
                    "platform_id": {
                        "description": "ID on the external platform.",
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "platform"
                ]
            },
            "Cars": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CarInfo"
                        }
                    },
                    "total": {
                        "description": "Total number of available cars, across all pages.",
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "required": [
                    "items",
                    "total"
                ]
            },
            "CreateDataPackGroupMemberRequest": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Data pack ID",
                        "type": "string"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "CreateTeamInviteRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "description": "Invite name",
                        "type": "string",
                        "maxLength": 255
                    },
                    "maxUsages": {
                        "description": "Maximum number of times this invite can be used (0 = unlimited).",
                        "type": "number",
                        "format": "int64",
                        "minimum": 0,
                        "default": 0
                    },
                    "expiresAfter": {
                        "description": "Number of seconds before invite expires (0 = never).",
                        "type": "number",
                        "format": "int64",
                        "minimum": 0,
                        "default": 0
                    }
                },
                "required": [
                    "name"
                ]
            },
            "CreateUserDataPackGroupRequest": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Data pack group ID",
                        "type": "string"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "CreateUserDataPackRequest": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Data pack ID",
                        "type": "string"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "DrivingStatistic": {
                "description": "Driving statistic",
                "type": "object",
                "properties": {
                    "day": {
                        "description": "Date",
                        "type": "string",
                        "format": "date"
                    },
                    "user": {
                        "description": "User slug",
                        "type": "string"
                    },
                    "car": {
                        "description": "Car ID",
                        "type": "number",
                        "format": "int64"
                    },
                    "track": {
                        "description": "Track ID",
                        "type": "number",
                        "format": "int64"
                    },
                    "sessionType": {
                        "description": "Session type\n\nAvailable values:\n\n  * `1`: Practice\n  * `2`: Qualifying\n  * `3`: Race\n",
                        "type": "number",
                        "format": "int64"
                    },
                    "events": {
                        "description": "Number of events",
                        "type": "number",
                        "format": "int64"
                    },
                    "timeOnTrack": {
                        "description": "Total time on track (seconds)",
                        "type": "number"
                    },
                    "lapsDriven": {
                        "description": "Number of laps driven",
                        "type": "number",
                        "format": "int64"
                    },
                    "cleanLapsDriven": {
                        "description": "Number of clean laps driven",
                        "type": "number",
                        "format": "int64"
                    }
                },
                "required": [
                    "day",
                    "car",
                    "track",
                    "sessionType",
                    "events",
                    "timeOnTrack",
                    "lapsDriven",
                    "cleanLapsDriven"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "message": {
                        "description": "Human-readable error message.",
                        "type": "string"
                    },
                    "code": {
                        "description": "Single word identifier for this error.",
                        "type": "string"
                    },
                    "trace": {
                        "description": "Trace ID, for debugging purposes.\n\nBe sure to mention this ID if you are running into any problems.\n",
                        "type": "string"
                    }
                },
                "required": [
                    "message",
                    "trace"
                ]
            },
            "Lap": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Lap ID",
                        "type": "string"
                    },
                    "driver": {
                        "$ref": "#/components/schemas/UserInfo",
                        "description": "Driver information.\n\nCan be empty if the driver for a lap is unknown.\n"
                    },
                    "driverRating": {
                        "description": "Driver rating at the time of driving, if known.",
                        "type": "number",
                        "format": "int64"
                    },
                    "event": {
                        "description": "Event ID in which the lap was driven.",
                        "type": "string"
                    },
                    "session": {
                        "description": "Session number",
                        "type": "number",
                        "format": "int64"
                    },
                    "sessionType": {
                        "description": "Session type\n\nAvailable values:\n\n  * `1`: Practice\n  * `2`: Qualifying\n  * `3`: Race\n",
                        "type": "number",
                        "format": "int64"
                    },
                    "run": {
                        "description": "Run number",
                        "type": "number",
                        "format": "int64"
                    },
                    "season": {
                        "$ref": "#/components/schemas/Season",
                        "description": "Season"
                    },
                    "car": {
                        "$ref": "#/components/schemas/CarInfo",
                        "description": "Car information"
                    },
                    "track": {
                        "$ref": "#/components/schemas/TrackInfo",
                        "description": "Track information"
                    },
                    "startTime": {
                        "description": "Start time",
                        "type": "string",
                        "format": "date-time"
                    },
                    "lapNumber": {
                        "description": "Lap number, as assigned by race control.",
                        "type": "number",
                        "format": "int64"
                    },
                    "lapTime": {
                        "description": "Lap time, in seconds",
                        "type": "number"
                    },
                    "clean": {
                        "description": "Is this a clean, complete lap?",
                        "type": "boolean"
                    },
                    "joker": {
                        "description": "Is this a joker lap?",
                        "type": "boolean"
                    },
                    "discontinuity": {
                        "description": "Whether this lap had a discontinuity, which is usually a gap\nin the recording of telemetry.\n",
                        "type": "boolean"
                    },
                    "missing": {
                        "description": "Is data for this lap missing?",
                        "type": "boolean"
                    },
                    "incomplete": {
                        "description": "Is this an incomplete lap?\n\nA lap might be incomplete if a tow occured. A full complete lap\nstarts and ends at the start/finish line.\n",
                        "type": "boolean"
                    },
                    "offtrack": {
                        "description": "Did the driver go off track during this lap?",
                        "type": "boolean"
                    },
                    "pitlane": {
                        "description": "Did the car travel through pit lane on this lap?",
                        "type": "boolean"
                    },
                    "pitIn": {
                        "description": "Did the car enter the pit lane on this lap?",
                        "type": "boolean"
                    },
                    "pitOut": {
                        "description": "Did the car exit the pit lane on this lap?",
                        "type": "boolean"
                    },
                    "trackTemp": {
                        "description": "Track temperature (℃)",
                        "type": "number"
                    },
                    "trackUsage": {
                        "description": "Track usage, as a percentage (0 = clean track, 100 = fully rubbered in).",
                        "type": "number",
                        "format": "int64"
                    },
                    "trackWetness": {
                        "description": "Track wetness, as a percentage (0 = dry, 100 = fully wet).",
                        "type": "number",
                        "format": "int64"
                    },
[...]
